body, main, header, div, h1, h2, h3, p, a{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 3vw; 
}

nav{
    background-color: #dee2e6;
}

h2{
    font-size: 20pt;    
}

h3{
    font-size: 15pt;
}
footer{
    font-size: 0.8vw;
}

a{
    text-decoration: none;
    color: black;
    
}

a:hover{
    text-decoration: none;
    color: black;
}

ul.navbar-nav{
    font-size: 2vw;
    text-transform: uppercase;
}

.fixed-card {
    width: 250px; 
    height: 250px;
}

.fixed-carrossel{
    width: 900px; 
    height: 350px;
}