header{
    border: 2px solid #000000;
    padding: 20px;
    text-align: center;
    margin: 10px;
    background-color: #8480c3;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    
}
aside{
    width: 20%;
    border: 2px solid #000000;
    text-align: center;
    padding: 10px;
    float: left;
    margin: 10px;
    font-size: 14px;
    background-color: #8480c3;
    color: white;
}
main{
    
    margin-left: 25%;
    margin-right: 10%
}

footer{
    border: 2px solid #000000; 
    margin: 20% 10px 10px 10px;
    background-color: #8480c3;
    text-align: center;
}


h1, h2, h3{
    text-transform: uppercase;
    color: black;
}

form {
    width: 500px;
    font-size: 17px;
}

form label,
form input,
form textarea,
form input[type="submit"] {
    display: block;
    margin-bottom: 10px; 
    width: 100%; 
}


a{
    padding-left: 20px;
    padding-right: 20px;
}

img.imagem{
    margin: 20px;
    display: block;    
    width: 320px;
    height: 175px;
}

footer.fotos{
    margin: 5% 10px 10px 10px;
}
